.bungkusForm{
    display: flex;
    justify-content: center;
}
.formBox{
    padding: 50px;
}

.titleForm{
    font-size: 2vw;
    font-weight: bold;
    padding: 20px;
    color: white;
    background-color: brown;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isiForm{
    justify-content: center;
    align-items: center;
    display: flex;
}

.namaRow{
    font-size: 1vw;
    color: white;
}

.tombol{
    width: 900px;
    height: auto;
    background-color: darkred;
    color: white;
    font-size: 1vw;
}