.formBox{
    padding: 50px;
}

.titleForm{
    font-size: 2vw;
    font-weight: bold;
    padding: 20px;
}

.isiForm{
    justify-content: center;
    align-items: center;
    display: flex;
}

.namaRow{
    font-size: 1vw;
}

.tombol{
    width: 900px;
    height: 20px;
}